
<div class="masthead clearfix">
  <div class="container inner">
    <nav class="navbar static-top navbar-expand-md nav-masthead app-nav">
      <div class="container">
      <%= link_to "Kamil Kula", root_path, class: 'navbar-brand mx-auto pr-lg-5 pr-md-3' %>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav my-2 my-lg-0">
        <%= nav_helper 'nav-link mr-sm-2', 'li' %>
        <%= login_helper 'nav-link ml-1' %>
      </ul>
  </div>
  </div>
</nav>
</div>
</div>
