<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Junior rails coder trying out new ideas.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/kulas115"<%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/kamil.kula.399"<%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.instagram.com/kulas115/"<%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
</div>
