<footer class="text-muted">
  <div class="container">
    <div class="mb-4">
      <p class="text-center">
        <%= link_to "View All Portfolio Items", portfolios_path %> /
        <a href="#">Back to top</a>
      </p>
    </div>
    <div class="mx-auto">
      <p class="text-center">
        <%= copyright_generator %>
      </p>
    </div>
  </div>
</footer>
