<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "Profile image" %>
  </div>

  <div class="col-md-8"
    <p>I am a junior rails developer with a lot of mettle to become master sooner than later. I have started my codding jurney with creating Wordpress sites. They were quite easy to set up but every modyfication of existing template was a challange. I've leared how painful CSS can be but also how helpful bit of Javascript could be. I am trying to "soak" into coding by surrounding myself with quality coding content all day long. </p>
  </div>
</div>
