<h1>I can be your new developer</h1>
<h2>Just contact me!</h2>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>1 Maja 24, 32-590 Libiaz, Poland</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "728333333" %></p>

    <h3>Email</h3>

    <p><a href='mailto:kulas115@gmail.com?subject=PortfolioContact' "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.101133125134!2d19.32728031608192!3d50.10311397942905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716eba66036b511%3A0x82d941533fc8e1ed!2zMSBNYWphIDI0LCAzMi01OTAgTGliacSFxbw!5e0!3m2!1sen!2spl!4v1513026476005" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
