<div class="inner cover">

  <h1 class="cover-heading">Would you like to work together?</h1>

  <div class="row">

    <div class="col-md-12">

      <div class="card-contact-about">

        <div class="card">

          <div class="card-block-left">

            <div class="row">

              <div class="col-md-5 col-sm-12 col-12 heading-black">

                <h3>Office Address</h3>

                  <p>1 Maja 24, 32-590 Libiaz, Poland</p>

                <h3>Phone</h3>

                  <p>728-493-306</p>

                <h3>Email</h3>

                  <p><a href='mailto:kulas115@gmail.com?subject=PortfolioContact' "email me">Email me</a></p>

              </div>

              <div class="col-md-7 col-sm-12 col-12 map">

                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.101133125134!2d19.32728031608192!3d50.10311397942905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716eba66036b511%3A0x82d941533fc8e1ed!2zMSBNYWphIDI0LCAzMi01OTAgTGliacSFxbw!5e0!3m2!1sen!2spl!4v1513026476005" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
