<h1>Pages#contact</h1>

<p><%= number_to_phone "728394305" %></p>

<p><%= number_to_currency "728394305" %></p>

<p><%= number_to_percentage "72.2" %></p>

<p><%= number_with_delimiter "7223322" %></p>
