.inner.cover
  %h1.cover-heading Welcome to my portfolio
  %p.lead
    %span.element
  %p.lead
    = link_to 'About Me', about_path, class: "btn btn-lg btn-secondary"

= javascript_include_tag 'lib/typed'
= javascript_include_tag 'typed-implementation'
